<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings configSource="oogi.xml">
    <!--<add key="DocumentDbEndPoint" value="https://something.documents.azure.com:443" />
    <add key="DocumentDbAuthorizationKey" value="SoM3TH1NG==;" />
    <add key="DocumentDbUserAgentSuffix" value="oogi" />
    <add key="DocumentDbDatabase" value="database" />
    <add key="DocumentDbCollection" value="collection" />-->
  </appSettings>
</configuration>