<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="DocumentDbEndPoint" value="https://something.documents.azure.com:443" />
    <add key="DocumentDbAuthorizationKey" value="something==;" />
    <add key="DocumentDbUserAgentSuffix" value="something" />
    <add key="DocumentDbDatabase" value="something" />
    <add key="DocumentDbCollection" value="something" />
  </appSettings>
</configuration>